HeartSignal Prism/bin/
HeartSignal Prism/obj/
*.xnb
*.mgcontent
HeartSignal Prism/Content/obj/DesktopGL/content/.mgstats
buildem.bat
HeartSignal Prism/HeartSignal.csproj
*.zip
HeartSignalLauncher/bin/
HeartSignalLauncher/obj/
.vs/HeartSignal Prism/v16/.suo
.vs/HeartSignal Prism/DesignTimeBuild/.dtbcache.v2
